html {
	scroll-behavior: smooth;
	background-color: #000000 !important;
	transition: all 0.5s ease-in-out;
}

.fixed-top {
	transition: all 0.4s ease-in-out !important;
}

nav img {
	width: 120px;
}

body::-webkit-scrollbar {
	display: none;

}
.fa-bars{
	color: white;
}
input {
	border: none;
	outline: none;
}

.form-control {
	border: none !important;
	outline: none !important;
}

button {
	border: none !important;
	outline: none !important;
}

.form-control:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

input {
	border: none;
	outline: none;
	box-shadow: none;
}

nav ul li {
	padding: 0 8px;
}

nav ul li a {
	color: #BEBEBE;
	font-size: 1.125rem;
	transition: all 0.4s ease-in-out;
	font-weight: 400;

}

nav ul li a:hover {
	color: #fff;
	transition: all 0.4s ease-in-out;
}

nav ul li .active {
	color: #fff;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: fill;
}

h1 {
	font-size: 2.875rem;
}

h2 {
	font-size: 2.125rem;
}

p {
	font-size: 0.938rem;
}
h4{
	font-size: 1.5rem;
}

a {
	font-size: 1.125rem;
}
.large{
	font-size: 1.125rem;
}
